In [1]:
%matplotlib inline

Use future imports for python 3.0 forward compatibility

In [2]:
from __future__ import print_function
from __future__ import unicode_literals
from __future__ import division
from __future__ import absolute_import

Other imports

In [3]:
import pandas as pd
import numpy as np
import re
import datetime

open the cap file and read lines into a list

In [4]:
start = True
df = pd.DataFrame(columns=['mxc_restart_dt', 'uboot_dt'])

with open('4.11.2018minicom.cap', 'r') as f:
    for line in f:
        # [2018-04-06 11:34:50] mxc_restart: Using gpio to reboot
        m = re.match(r'\[(\d{4}\-\d{2}\-\d{2} \d{2}:\d{2}:\d{2})\] mxc_restart: Using gpio to reboot', line)
        if m:
            mxc_restart_dt=datetime.datetime.strptime(m.group(1), '%Y-%m-%d %H:%M:%S')
            df2 = pd.DataFrame([mxc_restart_dt], columns=['mxc_restart_dt'])
            df = df.append(df2, ignore_index=True)
            start = False
        
        if not start:
            # [2018-04-06 11:34:50] U-Boot 2015.10+fslc+g1b6aee7 (Mar 08 2018 - 18:48:18 -0500)
            m = re.match(r'\[(\d{4}\-\d{2}\-\d{2} \d{2}:\d{2}:\d{2})\] U-Boot 2015.+', line)
            if m:
                uboot_dt=datetime.datetime.strptime(m.group(1), '%Y-%m-%d %H:%M:%S')
                df.loc[df['mxc_restart_dt'] == mxc_restart_dt, 'uboot_dt'] = uboot_dt
                start = True

In [5]:
df

          mxc_restart_dt             uboot_dt
0    2018-04-06 11:34:50  2018-04-06 11:34:50
1    2018-04-06 11:37:51  2018-04-06 11:37:51
2    2018-04-06 11:40:51  2018-04-06 11:40:51
3    2018-04-06 11:43:53  2018-04-06 11:43:54
4    2018-04-06 11:46:54  2018-04-06 11:46:54
5    2018-04-06 11:49:55  2018-04-06 11:49:56
6    2018-04-06 11:52:55  2018-04-06 11:52:56
7    2018-04-06 11:55:57  2018-04-06 11:55:57
8    2018-04-06 11:58:58  2018-04-06 11:58:59
9    2018-04-06 12:01:59  2018-04-06 12:02:00
10   2018-04-06 12:05:00  2018-04-06 12:05:01
11   2018-04-06 12:08:03  2018-04-06 12:08:03
12   2018-04-06 12:11:03  2018-04-06 12:11:04
13   2018-04-06 12:14:04  2018-04-06 12:14:05
14   2018-04-06 12:17:04  2018-04-06 12:17:05
15   2018-04-06 12:20:06  2018-04-06 12:20:06
16   2018-04-06 12:23:09  2018-04-06 12:23:10
17   2018-04-06 12:26:08  2018-04-06 12:26:09
18   2018-04-06 12:29:10  2018-04-06 12:29:11
19   2018-04-06 12:32:10  2018-04-06 12:32:10
20   2018-04-06 12:35:11  2018-04-06 12:35:12
21   2018-04-06 12:38:13  2018-04-06 12:38:14
22   2018-04-06 12:41:13  2018-04-06 12:41:14
23   2018-04-06 12:44:14  2018-04-06 12:44:15
24   2018-04-06 12:47:16  2018-04-06 12:47:16
25   2018-04-06 12:50:17  2018-04-06 12:50:18
26   2018-04-06 12:53:17  2018-04-06 12:53:18
27   2018-04-06 12:56:19  2018-04-06 12:56:20
28   2018-04-06 12:59:20  2018-04-06 12:59:21
29   2018-04-06 13:02:21  2018-04-06 13:02:22
...                  ...                  ...
2306 2018-04-11 07:34:53  2018-04-11 07:34:54
2307 2018-04-11 07:37:55  2018-04-11 07:37:56
2308 2018-04-11 07:40:55  2018-04-11 07:40:55
2309 2018-04-11 07:43:57  2018-04-11 07:43:57
2310 2018-04-11 07:46:58  2018-04-11 07:46:59
2311 2018-04-11 07:49:59  2018-04-11 07:49:59
2312 2018-04-11 07:53:00  2018-04-11 07:53:00
2313 2018-04-11 07:56:00  2018-04-11 07:56:01
2314 2018-04-11 07:59:02  2018-04-11 07:59:02
2315 2018-04-11 08:02:02  2018-04-11 08:02:03
2316 2018-04-11 08:05:04  2018-04-11 08:05:05
2317 2018-04-11 08:08:07  2018-04-11 08:08:07
2318 2018-04-11 08:11:06  2018-04-11 08:11:06
2319 2018-04-11 08:14:08  2018-04-11 08:14:09
2320 2018-04-11 08:17:08  2018-04-11 08:17:08
2321 2018-04-11 08:20:09  2018-04-11 08:20:09
2322 2018-04-11 08:23:12  2018-04-11 08:23:13
2323 2018-04-11 08:26:11  2018-04-11 08:26:12
2324 2018-04-11 08:29:14  2018-04-11 08:29:14
2325 2018-04-11 08:32:15  2018-04-11 08:32:16
2326 2018-04-11 08:35:16  2018-04-11 08:35:16
2327 2018-04-11 08:38:17  2018-04-11 08:38:17
2328 2018-04-11 08:41:18  2018-04-11 08:41:18
2329 2018-04-11 08:44:20  2018-04-11 08:44:20
2330 2018-04-11 08:47:20  2018-04-11 08:47:20
2331 2018-04-11 08:50:20  2018-04-11 08:50:20
2332 2018-04-11 08:53:22  2018-04-11 08:53:23
2333 2018-04-11 08:56:23  2018-04-11 08:56:23
2334 2018-04-11 08:59:25  2018-04-11 08:59:26
2335 2018-04-11 09:02:25  2018-04-11 09:02:25

[2336 rows x 2 columns]

Check for NaN columns

In [6]:
pd.isnull(df).sum()

mxc_restart_dt    0
uboot_dt          0
dtype: int64

Fill NaN Columns

In [7]:
if pd.isnull(df['uboot_dt']).sum() > 0:
    df['uboot_dt'].fillna(df['mxc_restart_dt'])

convert column to datetime

In [8]:
df['uboot_dt'] = pd.to_datetime(df['uboot_dt'])

calculate diff between uboot_dt and mxc_restart_dt

In [9]:
df.dtypes
df['diff_uboot_mxc'] = df['uboot_dt'] - df['mxc_restart_dt']
df['diff_uboot_mxc'] = df['diff_uboot_mxc'].dt.total_seconds()

calc diff for mxc_restart_dt

In [10]:
df.dtypes
df['diff_mxc2_mxc1'] = df['mxc_restart_dt'].diff()
df['diff_mxc2_mxc1'] = df['diff_mxc2_mxc1'].dt.total_seconds()

In [11]:
df

          mxc_restart_dt            uboot_dt  diff_uboot_mxc  diff_mxc2_mxc1
0    2018-04-06 11:34:50 2018-04-06 11:34:50             0.0             NaN
1    2018-04-06 11:37:51 2018-04-06 11:37:51             0.0           181.0
2    2018-04-06 11:40:51 2018-04-06 11:40:51             0.0           180.0
3    2018-04-06 11:43:53 2018-04-06 11:43:54             1.0           182.0
4    2018-04-06 11:46:54 2018-04-06 11:46:54             0.0           181.0
5    2018-04-06 11:49:55 2018-04-06 11:49:56             1.0           181.0
6    2018-04-06 11:52:55 2018-04-06 11:52:56             1.0           180.0
7    2018-04-06 11:55:57 2018-04-06 11:55:57             0.0           182.0
8    2018-04-06 11:58:58 2018-04-06 11:58:59             1.0           181.0
9    2018-04-06 12:01:59 2018-04-06 12:02:00             1.0           181.0
10   2018-04-06 12:05:00 2018-04-06 12:05:01             1.0           181.0
11   2018-04-06 12:08:03 2018-04-06 12:08:03             0.0           183.0
12   2018-04-06 12:11:03 2018-04-06 12:11:04             1.0           180.0
13   2018-04-06 12:14:04 2018-04-06 12:14:05             1.0           181.0
14   2018-04-06 12:17:04 2018-04-06 12:17:05             1.0           180.0
15   2018-04-06 12:20:06 2018-04-06 12:20:06             0.0           182.0
16   2018-04-06 12:23:09 2018-04-06 12:23:10             1.0           183.0
17   2018-04-06 12:26:08 2018-04-06 12:26:09             1.0           179.0
18   2018-04-06 12:29:10 2018-04-06 12:29:11             1.0           182.0
19   2018-04-06 12:32:10 2018-04-06 12:32:10             0.0           180.0
20   2018-04-06 12:35:11 2018-04-06 12:35:12             1.0           181.0
21   2018-04-06 12:38:13 2018-04-06 12:38:14             1.0           182.0
22   2018-04-06 12:41:13 2018-04-06 12:41:14             1.0           180.0
23   2018-04-06 12:44:14 2018-04-06 12:44:15             1.0           181.0
24   2018-04-06 12:47:16 2018-04-06 12:47:16             0.0           182.0
25   2018-04-06 12:50:17 2018-04-06 12:50:18             1.0           181.0
26   2018-04-06 12:53:17 2018-04-06 12:53:18             1.0           180.0
27   2018-04-06 12:56:19 2018-04-06 12:56:20             1.0           182.0
28   2018-04-06 12:59:20 2018-04-06 12:59:21             1.0           181.0
29   2018-04-06 13:02:21 2018-04-06 13:02:22             1.0           181.0
...                  ...                 ...             ...             ...
2306 2018-04-11 07:34:53 2018-04-11 07:34:54             1.0           180.0
2307 2018-04-11 07:37:55 2018-04-11 07:37:56             1.0           182.0
2308 2018-04-11 07:40:55 2018-04-11 07:40:55             0.0           180.0
2309 2018-04-11 07:43:57 2018-04-11 07:43:57             0.0           182.0
2310 2018-04-11 07:46:58 2018-04-11 07:46:59             1.0           181.0
2311 2018-04-11 07:49:59 2018-04-11 07:49:59             0.0           181.0
2312 2018-04-11 07:53:00 2018-04-11 07:53:00             0.0           181.0
2313 2018-04-11 07:56:00 2018-04-11 07:56:01             1.0           180.0
2314 2018-04-11 07:59:02 2018-04-11 07:59:02             0.0           182.0
2315 2018-04-11 08:02:02 2018-04-11 08:02:03             1.0           180.0
2316 2018-04-11 08:05:04 2018-04-11 08:05:05             1.0           182.0
2317 2018-04-11 08:08:07 2018-04-11 08:08:07             0.0           183.0
2318 2018-04-11 08:11:06 2018-04-11 08:11:06             0.0           179.0
2319 2018-04-11 08:14:08 2018-04-11 08:14:09             1.0           182.0
2320 2018-04-11 08:17:08 2018-04-11 08:17:08             0.0           180.0
2321 2018-04-11 08:20:09 2018-04-11 08:20:09             0.0           181.0
2322 2018-04-11 08:23:12 2018-04-11 08:23:13             1.0           183.0
2323 2018-04-11 08:26:11 2018-04-11 08:26:12             1.0           179.0
2324 2018-04-11 08:29:14 2018-04-11 08:29:14             0.0           183.0
2325 2018-04-11 08:32:15 2018-04-11 08:32:16             1.0           181.0
2326 2018-04-11 08:35:16 2018-04-11 08:35:16             0.0           181.0
2327 2018-04-11 08:38:17 2018-04-11 08:38:17             0.0           181.0
2328 2018-04-11 08:41:18 2018-04-11 08:41:18             0.0           181.0
2329 2018-04-11 08:44:20 2018-04-11 08:44:20             0.0           182.0
2330 2018-04-11 08:47:20 2018-04-11 08:47:20             0.0           180.0
2331 2018-04-11 08:50:20 2018-04-11 08:50:20             0.0           180.0
2332 2018-04-11 08:53:22 2018-04-11 08:53:23             1.0           182.0
2333 2018-04-11 08:56:23 2018-04-11 08:56:23             0.0           181.0
2334 2018-04-11 08:59:25 2018-04-11 08:59:26             1.0           182.0
2335 2018-04-11 09:02:25 2018-04-11 09:02:25             0.0           180.0

[2336 rows x 4 columns]

In [12]:
df.describe()

       diff_uboot_mxc  diff_mxc2_mxc1
count     2336.000000     2335.000000
mean         0.657534      181.094218
std          0.773221        1.265059
min          0.000000      176.000000
25%          0.000000      180.000000
50%          1.000000      181.000000
75%          1.000000      182.000000
max         30.000000      187.000000

In [13]:
df[df['diff_uboot_mxc'] > 5]

          mxc_restart_dt            uboot_dt  diff_uboot_mxc  diff_mxc2_mxc1
2304 2018-04-11 07:28:52 2018-04-11 07:29:22            30.0           182.0